h3,h4{
    font-size: 25px !important;
}

canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 100px;
    border: 2px solid #DECBA4;
}

@keyframes example{
    from{box-shadow: 10px 1px 60px #3E5151;}
    to{box-shadow: -10px 1px 60px #DECBA4;}
}

body{
    color: ghostwhite;
}